@import './icons';

$headers: #006DF0;
$text: #235387;
$bg: white;
$footer: $bg;
$green: #91DC5A;
$red: #D80027;

@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin transition {
  transition: all 0.5s ease-out;
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  background: $bg;
  font-family: 'Roboto';
}

.wrapper {
  background: $bg;
  min-height: 100%;
  display: grid;
  grid-template-rows: auto auto auto;
  grid-template-columns: 1fr;
  grid-template-areas:
    "header"
    "content"
    "footer"
}

header {
  grid-area: header;
  color: $headers;

  img {

  }
}

header, footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content, .blocks {
  overflow-x: auto;
  ::-webkit-scrollbar-track
  {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
    border-radius: 10px;
  }

  ::-webkit-scrollbar
  {
    height: 8px;
    width: 6px;
    // background-color: #F5F5F5;
  }

  ::-webkit-scrollbar-thumb
  {
    border-radius: 10px;
    background-color: $headers;
    @include transition();

    &:hover {
      @include transition();
      background-color: lighten($headers, 10);
    }
  }
}

.content {
  grid-area: content;
  padding: 0 20px;
  color: $text;

  .description {
    text-align: center;
    margin-bottom: 30px;
  }

  .blocks {
    display: flex;
    flex-wrap: nowrap;
  }

  .block-outside {
    @include center();
    margin-bottom: 20px;
  }

  .block {
    padding: 10px;
    border: 2px solid $headers;
    border-radius: 5px;
    font-size: 12px;
    background-color: white;
    // flex: 0 0 auto;

    &.valid {
      border-color: $green;
    }

    &.invalid {
      border-color: $red;
    }

    .title {
      display: flex;
      justify-content: space-between;
      margin: 0;
      height: 20px;

      span {
        font-weight: 300;
      }

      .remove {
        @include transition();
        cursor: pointer;
        font-size: 20px;
        color: $red;

        &:hover {
          @include transition();
          color: darken($red, 20);
        }
      }
    }

    textarea {
      border: 0.5px solid $headers;
      padding: 10px;
      width: 90%;
    }

    .hash {
      font-size: 10px;

      &.invalid {
        color: $red;
        text-decoration: line-through;
      }
    }
  }

  .arrow {
    i {
      font-size: 40px;
      color: $headers;
    }
  }

  .add {
    @include center();
    color: $green;
    margin-left: 10px;

    span {
      @include center();
      @include transition();
      cursor: pointer;

      &:hover {
        @include transition();
        color: darken($green, 20);
      }
    }

    i {
      font-size: 40px;
      margin-right: 10px;
    }
  }
}

footer {
  grid-area: footer;
  grid-row-start: 3;
  grid-row-end: 3;
  background: $footer;
  color: $text;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  a {
    text-decoration: none;
  }

  i {
    font-size: 20px;
    margin: 10px;
  }
}
