<!DOCTYPE html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Blockchain Demo</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
  <link rel="stylesheet" href="styles.css">

  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/favicon.ico" type="image/x-icon">

</head>

<body>

  <div class="wrapper" id="app">

    <header class="header">
      <img src="./assets/img/vectorstock_13669421__Converted_-01.png" height="130">
      <h1>Blockchain</h1>
    </header>

    <div class="content">

      <p class="description">A small Web demonstration of the Blockchain concept and how it works.</p>

      <div class="blocks">

        <div v-for="(block, index) in blocks" class="block-outside">
          <div class="block" v-bind:class="{valid: block.valid, invalid: !block.valid}">
            <p class="title">
              <b>Block <span>#{{index}}</span> </b>
              <!-- <i @click="removeLast" v-if="index === blocks.length -1 && index != 0" class="remove icon-error"></i> -->
            </p>


            <p><b>Data:</b></p>
            <textarea v-on:keyUp="checkData($event, index)" v-bind:id="'block-' + index" cols="auto" rows="auto">{{block.data}}</textarea>

            <p>
              <b>HASH:</b>
              <br>
              <span v-bind:class="{invalid: !block.valid}" class="hash">
                {{block.hash}}
              </span>
            </p>

            <b>PREVIOUS HASH: </b>
            <br>
            <span v-bind:class="{invalid: !block.valid && !blocks[index-1].valid}" class="hash">
              {{block.previousHash}}
            </span>
          </div>

          <div v-if="blocks[index+1]" class="arrow">
            <!-- <img src="./assets/lock-and-chain.svg"> -->
            <i class="icon-lock-and-chain"></i>
          </div>

        </div>

        <div class="add">
          <span @click="addBlock">
            <!-- <img src="./assets/plus.svg"> Add block -->
            <i class="icon-plus"></i> Add block
          </span>
        </div>

      </div>

    </div>

    <footer class="footer">
      <div>
        Matheus Victor (@matheushf)
      </div>

      <div>
        <a href="https://www.github.com/matheushf" target="_blank"><i class="icon-github-logo"></i></a>
        <a href="https://www.linkedin.com/in/matheushf" target="_blank"><i class="icon-linkedin-logo-button"></i></a>
        <a href="mailto:hffmatheus@gmail.com" target="_blank"><i class="icon-gmail"></i></a>
      </div>
    </footer>

  </div>

  <script src="../node_modules/vue/dist/vue.min.js"></script>
  <script src="bundle.js"></script>

</body>

</html>
