<!DOCTYPE html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Crypto Starter</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
  <link rel="stylesheet" href="styles.css">

</head>

<body>

  <div class="wrapper" id="app">

    <header class="header">
      <img src="./assets/vectorstock_13669421__Converted_-01.png" height="130">
      <h1>Blockchain</h1>
    </header>

    <div class="content">

      <p class="description">A small Web demonstration of the Blockchain concept and how it works.</p>

      <div class="blocks">

        <div v-for="(block, index) in blocks" class="block-outside">
          <div class="block" v-bind:class="{valid: block.valid, invalid: !block.valid}">
            <p class="title">
              <b>Block <span>#{{index}}</span> </b>

              <img @click="removeLast" v-if="index === blocks.length -1 && index != 0" class="remove" src="./assets/error.svg">

            </p>


            <p><b>Data:</b></p>
            <textarea v-on:keyUp="checkData($event, index)" v-bind:id="'block-' + index" cols="auto" rows="auto">{{block.data}}</textarea>

            <p>
              <b>HASH:</b>
              <br>
              <span class="hash">
                {{block.hash}}
              </span>
            </p>

            <b>PREVIOUS HASH: </b>
            <br>
            <span class="hash">
              {{block.previousHash}}
            </span>
          </div>

          <div v-if="blocks[index+1]" class="arrow">
            <img src="./assets/lock-and-chain.svg">
          </div>

        </div>

        <div class="add">
          <span @click="addBlock">
            <img src="./assets/plus.svg"> Add block
          </span>
        </div>

      </div>

    </div>

    <footer class="footer">
      Matheus Victor, @matheushf
      <br>
      <br>
      GitHub, LinkedIn, Gmail
    </footer>

  </div>

  <script src="../node_modules/vue/dist/vue.min.js"></script>
  <script src="bundle.js"></script>

</body>

</html>
